.sidenav {
    width: 13vw;
    height: 90vh;
    position: fixed;
    z-index: 1;
    left: 20px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 5px;
    text-align: center;
}

.title {
    margin: auto;
}

.tiles {
    height: 200px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.tile {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.tile:hover {
    cursor: pointer;

}

.wall {
    width: 25px;
    height: 25px;
    background-color: black;
}

.grass {
    width: 25px;
    height: 25px;
    background-color: green;
}

.water {
    width: 25px;
    height: 25px;
    background-color: blue;
}

.hole {
    background: black;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}

.start {
    background: white;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}



.play {
    margin: 10px 0 0 0;
    background-color: green;
    color: white;
    width: 150px;
    font-weight: 900;
    font-size: 18px;
}

.reset {
    margin: 10px 0 0 0;
    background-color: red;
    color: white;
    width: 150px;
    font-weight: 900;
    font-size: 18px;
}

.edit {
    margin: 10px 0 0 0;
    background-color: orange;
    color: white;
    width: 150px;
    font-weight: 900;
    font-size: 18px;
}

.train {
    margin: 10px 0 0 0;
    background-color: blue;
    color: white;
    width: 150px;
    font-weight: 900;
    font-size: 18px;
}

.settings {
    width: 100%;
    margin: 15px 0 0 0;
}



.slider {
    width: 80%;
    margin: 0 0 0 20px;
    /* Full-width */
    height: 25px;
    /* Specified height */
}